


@import "tailwindcss";

@theme {
  --color-background: hsl(0, 0%, 100%);
  --color-primary: hsl(0, 0%, 96%);
  --color-secondary: hsl(0, 0%, 94%);
  --color-foreground: hsl(0, 0%, 0%);
  --color-border: hsl(0, 0%, 85%);
}

@import "./components.css";

:root {
  --background: hsl(0, 0%, 100%);
  --primary: hsl(0, 0%, 96%);
  --secondary: hsl(0, 0%, 94%);
  --foreground: hsl(0, 0%, 0%);
  --border: hsl(0, 0%, 85%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(200, 6%, 10%);
    --primary: hsl(200, 5%, 12%);
    --secondary: hsl(200, 5%, 14%);
    --foreground: hsl(0, 0%, 100%);
    --border: hsl(0, 0%, 40%);
  }
}

::-webkit-scrollbar {
  @apply relative top-0 right-0 h-[0] w-[8px];
}
::-webkit-scrollbar-track {
  @apply bg-primary;
}
::-webkit-scrollbar-thumb {
  @apply bg-neutral-600/80 rounded-md;
}
