@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap");

@import "./components.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 100%);
  --primary: hsl(0, 0%, 96%);
  --secondary: hsl(0, 0%, 94%);
  --foreground: hsl(0, 0%, 0%);
  --border: hsl(0, 0%, 85%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(200, 6%, 10%);
    --primary: hsl(200, 5%, 12%);
    --secondary: hsl(200, 5%, 14%);
    --foreground: hsl(0, 0%, 100%);
    --border: hsl(0, 0%, 40%);
  }
}

::-webkit-scrollbar {
  @apply relative top-0 right-0 h-[0] w-[8px];
}
::-webkit-scrollbar-track {
  @apply bg-primary;
}
::-webkit-scrollbar-thumb {
  @apply bg-neutral-600/80 rounded-md;
}
